[Unit]
Description=EUFit — Flask app (Gunicorn)
After=network.target

[Service]
Type=simple
User=jurandir
Group=jurandir
WorkingDirectory=/home/jurandir/EUFit
Environment="PATH=/home/jurandir/EUFit/.venv/bin"
ExecStart=/home/jurandir/EUFit/.venv/bin/gunicorn --workers 2 --bind 127.0.0.1:8000 --timeout 60 --access-logfile - --error-logfile - wsgi:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
